body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #1f1f1f;
    font-family: 'Roboto', sans-serif;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Form {
    background: #121212;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    height: 50%;
}

.input {
    color: #000000;
    padding-left: 10px;
    width: 85%;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    border: 2px solid #f5c632;
    border-radius: 5px 0 0 5px;
}

.input:focus {
    outline: 0;
    outline-offset: 0;
}

.button:focus {
    outline: 0;
    outline-offset: 0;
}

.button {
    width: 15%;
    border: 2px solid #f5c632;
    background: #f5c632;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 0 5px 5px 0;
    transition: .2s linear;
}

.button:hover {
    cursor: pointer;
    background: #e1b730;
    border: 2px solid #e1b730;
}

.subtitle {
    color: #9f9f9f;
}

.List {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

a {
    width: 23%;
    text-decoration: none;
    height: 600px;
    position: relative;
    margin: 20px 0;
    overflow: hidden;
    color: #ffffff;
}

.Film {
    height: 100%;
    overflow: hidden;
}

.item-descr {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 100%;
    background-color: rgba(0, 0, 0, 0.94);
    transition: .2s linear;
    padding: 20px;
    box-sizing: border-box;
}

.Film:hover .item-descr {
    top: 0;
}

.poster {
    height: 100%;
    margin: 0 auto;
    width: 100%;
}

.star {
    color: #f5c632;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 5%;
    font-size: 30px;
    font-weight: 900;
    border-radius: 15px;
    background-color: #e1b730;
    color: #000000;
}

.item-title {
    font-size: 24px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #121212;
    height: 80px;
}

.det-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.det-title {
    color: #ffffff;
    font-size: 42px;
    font-weight: 700;
}

.details {
    padding: 0 180px 20px 180px;
    color: #ffffff;
}

.rating {
    display: flex;
    flex-direction: row;
    width: 20%;
    justify-content: space-around;
    font-size: 28px;
    font-weight: 700;
    align-items: center;
    height: 100%;
}

.rating p {
    margin: 0;
}

.rating-label {
    color: #b9b9b9;
    font-weight: 500;
    font-size: 26px;
}

.rating-val {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40%;
    justify-content: space-around;
}

.vote-counter {
    color: #b9b9b9;
    font-size: 16px;
}

.big-poster {
    width: 50%;
}

.det-info {
    display: flex;
    flex-direction: row;
}

.det-descr {
    padding: 0 40px;
}

.genres {
    font-size: 24px;
}

.genres-label {
    color: #b9b9b9;
    font-size: 20px;
}

.overview {
    font-size: 26px;
    letter-spacing: 1.5px;;
}

.overview-label {
    color: #b9b9b9;
    font-size: 20px;
}

.back {
    width: 100%;
    height: auto;
    opacity: 0.8;
}

.nothing {
    height: 0;
    width: 0;
}
.goback{
    font-size: 24px;
    transition: .2s linear;
}
.arrow{
    font-size: 38px;
    text-decoration: none;
}
.goback:hover{
    color: #b9b9b9;
}
@media (max-width: 1024px) {
    .form {
        width: 60%;
    }

    .button {
        width: 30%;
    }

    .input {
        width: 70%;
    }

    .logo {
        width: 20%;
    }

    a {
        width: 90%;
    }

    .item-descr {
        height: 80%;
        top: 40%;
        background-color: rgba(0, 0, 0, 0.66);
    }
    .Film:hover .item-descr {
        top: 40%;
    }

    .details {
        padding: 20px;
    }

    .det-header {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .det-title {
        font-size: 26px;
        text-align: center;
    }

    .rating {
        font-size: 20px;
        width: 30%;
    }

    .rating-label {
        font-size: 18px;
    }

    .rating-val {
        flex-direction: row;
        justify-content: space-between;
    }

    .vote-counter {
        display: none
    }

    .det-info {
        flex-direction: column;
    }

    .big-poster {
        width: 100%;
    }

    .back {
        display: none;
    }

    .genres{
        font-size: 18px;
        text-align: center;
    }
    .genres-label{
        font-size: 18px;
    }
    .overview{
        font-size: 22px;
    }
    .overview-label{
        font-size: 18px;
    }
}
@media (max-width: 600px) {
    .form {
        width: 60%;
    }

    .button {
        width: 30%;
    }

    .input {
        width: 70%;
    }

    .logo {
        width: 20%;
    }

    a {
        width: 90%;
    }

    .item-descr {
        height: 80%;
        top: 40%;
        background-color: rgba(0, 0, 0, 0.66);
    }

    .details {
        padding: 20px;
    }
    .Film:hover .item-descr {
        top: 40%;
    }
    .det-header {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .det-title {
        font-size: 22px;
        text-align: center;
    }

    .rating {
        font-size: 14px;
        font-size: 14px;
        width: 40%;
    }

    .rating-label {
        font-size: 16px;
    }

    .rating-val {
        flex-direction: row;
        justify-content: space-between;
    }

    .vote-counter {
        display: none
    }

    .det-info {
        flex-direction: column;
    }

    .big-poster {
        width: 100%;
    }

    .back {
        display: none;
    }

    .genres{
        font-size: 12px;
        text-align: center;
    }
    .genres-label{
        font-size: 12px;
    }
    .overview{
        font-size: 16px;
    }
    .overview-label{
        font-size: 12px;
    }
}